<div class="card">
  <div class="card-block">
    <h5 class="card-title">
      <img [src]="status.user.profile_image_url">
      {{ status.user.name }}
      <small>@{{ status.user.screen_name }}</small>
    </h5>
    <p class="card-text">{{ status.text }}</p>

    <div class="dropdown" *ngIf="categories.length">
      <button class="btn btn-secondary dropdown-toggle"
        type="button"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        Add to category
      </button>
      <div class="dropdown-menu">
        <a *ngFor="let category of categories"
          class="dropdown-item"
          href="javascript: void(0);"
          (click)="selectCategory(category)"
        >{{ category.name }}</a>
      </div>
    </div>
  </div>
</div>
