<div class="container wrapper">
  <input type="text"
    class="form-control main"
    placeholder="Search twitter"
    [formControl]="searchControl"
  >

  <ul class="nav nav-pills">
    <li class="nav-item">
      <a href="javascript: void(0);"
        class="nav-link"
        [class.active]="!isCategoryActive()"
        (click)="removeCategoryFilters()"
      >All</a>
    </li>
    <li class="nav-item" *ngFor="let category of categories">
      <a href="javascript: void(0);"
        class="nav-link"
        [class.active]="category.active"
        (click)="selectCategory(category)"
      >{{ category.name }}</a>
    </li>
    <li class="nav-item" [class.remove]="isAddCategory">
      <a href="javascript: void(0);"
      class="nav-link"
      (click)="isAddCategory = !isAddCategory">Add category</a>
    </li>
  </ul>

  <div class="row justify-content-end">
    <div class="col-6 col-md-3">
      <button *ngIf="isCategoryActive()"
        type="button"
        class="btn btn-danger"
        (click)="removeActiveCategory()"
      >
        Remove category
      </button>
    </div>
  </div>

  <div class="row justify-content-md-center add-category" *ngIf="isAddCategory">
    <div class="col-lg-6 center-gr">
      <div class="input-group">
        <input
          type="text"
          class="form-control"
          placeholder="Category name"
          [(ngModel)]="newCategoryName"
          (keyup.enter)="addCategory(newCategoryName)"
        >
        <span class="input-group-btn">
          <button class="btn btn-primary"
            type="button"
            (click)="addCategory(newCategoryName)"
          >Add</button>
        </span>
      </div>
    </div>
  </div>

  <div class="card-columns" *ngIf="feed.length">
    <tweet-card *ngFor="let tweet of feed"
      [status]="tweet"
      [categories]="categories"
      (onCategorySelected)="addStatusIntoCategory($event, tweet)"
    ></tweet-card>
  </div>

  <button *ngIf="tweets.length && !isCategoryActive()"
    type="button"
    class="btn btn-primary"
    (click)="moreResults()"
  >
    Load more results...
  </button>
</div>