
.wrapper {
    margin-top: 20px;
    margin-bottom: 20px;
}

input.main {
    margin-bottom: 1rem;
}

ul.nav {
    margin-bottom: 1rem;

    > li.remove {
        background: #e88989;
        border-radius: 4px;

        a {
            color: white;
        }
    }
}

.add-category {
    margin-bottom: 1rem;
}
